// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.course-card {
	position:relative;
	padding:20px 15px;
	border:1px solid #dadada;
	margin:10px 0;
	&:first-child {
		margin-top:0;
	}
	h3, p {
		margin:5px 0;
	}
}

.profile-img-container {
	position:relative;
	text-align:center;
	.real-container {
	
	}
}